* {
    margin: 0;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #1F2937;
    font-size: 22px;
    color: #F9FAF8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logo {
    font-size: 18px;
    width: 500px;

}


.links {
   display: inline-flex;
   justify-content: space-between;
   align-items: center;
   width: 500px;
   gap: 20px; 

}

.links a {
    text-decoration: none;
    color: #F9FAF8;
    font-size: 18px;

}

.hero {
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 500px;

}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 500px;
}

.intro h2{
    color: #F9FAF8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 48px;
    font-weight: 900;

}

.intro p {
    color: #F9FAF8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    
}

.placeholder {    
    background-color: gray;
    width: 500px;
    height: 250px;
}

button {
    width: 100px;
    height: 30px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    border-radius: 10px;
    border: 0;

}
.info {
    margin: auto;
}

.info h3 {
    color: #1F2937;
    margin-top: 30px;
    font-size: 36px;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.images {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    
}

.images img {
    width: 200px;
    height: 200px;
}

.images p {
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    width: 200px;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    height: 500px;
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.quote p {
    width: 650px;
    text-align: center;
}

.action {
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #3882F6;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 10px;
    width: 600px;
    color: #E5E7EB;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 130px;
}

.action h3 {
    font-size: 18px;
}

.action-button button {
    border: 1.5px solid #E5E7EB;
 }





